<div class="show">
    <div id="instructions">
        <h3>Yikes!</h3>
        <p>Reload to see yet another combination, or start over and go draw something new!
        <div>
            <form action="<%= new_part_path %>" style="display:inline;">
                <input type="submit" class="button-primary" value="Start Over" style="margin-bottom:3px;">
            </form>
        </div>
    </div>
    <div id="disclaimer">
        Paper in the background by <a href="http://connundrum.deviantart.com/art/I-made-a-piece-of-paper-LOL-300583620">Connundrum</a>
    </div>
    <div id="figure">
        <div class="head-show">
            <%= render @head, :part => @head unless @head.nil? %>
        </div>
        <div class="torso-show">
            <%= render @torso, :part => @torso unless @torso.nil? %>
        </div>
        <div class="legs-show">
            <%= render @legs, :part => @legs unless @legs.nil? %>
        </div>
        <div class="feet-show">
            <%= render @feet, :part => @feet unless @feet.nil? %>
        </div>
    </div>
</div>

