<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @part.name %>
</p>

<p>
  <strong>Img:</strong>
  <canvas class='show_part' width="800" height="300" style='border: 1px solid #000;' data-uri="<%= @part.img %>"></canvas>
</p>

<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
